{% extends 'base.html' %} {% block 'content' %} {% load static %}
<br>
<br>
<br>
<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Testimonials</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
        amet numquam iure provident voluptate esse quasi, veritatis totam
        voluptas nostrum quisquam eum porro a pariatur veniam.
      </p>
    </div>
  </div>

  <div class="row text-center">
    {% for x in about1 %}
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img
          src="{{x.img.url}}"
          class="rounded-circle shadow-1-strong"
          width="150"
          height="150"
        />
      </div>
      <h5 class="mb-3"> {{x.name}} </h5>
      <h6 class="text-primary mb-3"> {{x.role}} </h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>{{x.quotes}} <i class="fas fa-quote-right pe-2"></i>
      </p> 
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
      {% endfor %}
    </div>


    {% for x in about2 %}
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img
          src="{{x.img.url}}"
          class="rounded-circle shadow-1-strong"
          width="150"
          height="150"
        />
      </div>
      <h5 class="mb-3">{{x.name}}</h5>
      <h6 class="text-primary mb-3">{{x.role}}</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>{{x.quotes}} <i class="fas fa-quote-right pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
      {% endfor %}
    </div>

    {% for x in about3 %}
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img
          src="{{x.img.url}}"
          class="rounded-circle shadow-1-strong"
          width="150"
          height="150"
        />
      </div>
      <h5 class="mb-3">{{x.name}}</h5>
      <h6 class="text-primary mb-3">{{x.role}}</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i> {{x.quotes}}  <i class="fas fa-quote-right pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
