
{% extends 'base.html' %}
{% block 'content' %}

{% for message in messages %}
    <div class="message text-center alert alert-info {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
      <div class="center">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-dark" href="/all_emp" role="button">View All Employee</a>
          <a class="btn btn-dark" href="/add_emp/" role="button">Add An Employee</a>
          <a class="btn btn-dark" href="/remove_emp/" role="button">Remove An Employee</a>
          <a class="btn btn-dark" href="/filter_emp" role="button">Filter Employee Details</a>
          <a class="btn btn-dark" href="/d_emp" role="button">Download Details</a>
        </div>
      </div>
{% endblock  %}

{% comment %} django session out massage {% endcomment %}

{{ redirect_to_login_immediately }}