{% extends 'base.html' %}
{% block 'content' %}
<style>
  {% comment %} .dropdown {
    width: 100%;
    position: absolute;
  } {% endcomment %}
</style>
<div class="dropdown">
  <center>
    <div class="d-grid gap-2">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="true"
      >
        Remove An Employee
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for emp in emps %}
        <li>
          <a class="dropdown-item" href="{{emp.id}}"
            >{{emp.first_name}} {{emp.last_name}} {{emp.department}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </center>
</div>
{% endblock  %}
